# IDE
/.idea

# External libraries
# We have to include some third-party files to use Dockerhub automated builds.
/lib/vendor/johnmichel/Library-Detector-for-Chrome/libraries.original.js

# Dependencies
/node_modules
